* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: #24273a;
    border-radius: 8px;
}

window#waybar.hidden {
    opacity: 0.0;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0px 8px 0px 3px;
   /* background-color: #16191c;*/
    border-radius: 5px;
    color: #bababa;
}

#workspaces button:hover {
  background: none;
  color: #ffffff;
  box-shadow: none;
  border: none;
  outline: none;
}

#workspaces button.active {
    color: #ffffff;
    font-weight: 600;
}

#workspaces button.urgent {
  color: #bababa;
}

#workspaces {
    margin: 4px 0px 4px 0px;
    border-radius: 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 5;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #ffffff;
    margin: 4px 0px 4px 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: 600;
    padding: 2px 10px 0px 10px;
    border-radius: 5px;
}

#battery {
    color: #ffffff;
    margin: 4px 5px 4px 0px;
    padding: 0px 10px 0px 0px;
    border-radius: 0px 5px 5px 0px;
}

#battery.good {
    color: #f9e2af;
}

#battery.critical {
    color: #f38ba8;
}

#cava {
    color: #ffffff;
    /*background-color: #171936;*/
    margin: 4px 0px 4px 5px;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

#network {
    color: #ffffff;
    background-color: #171926;
    margin: 4px 0px 5px 2px;
    border-radius: 5px 0px 0px 5px;
    padding: 0px 11px 0px 13px;
    font-size: 15px;
    font-weight: bold;
}

#pulseaudio {
    color: #ffffff;
    background-color: #171926;
    font-size: 18px;
    margin: 4px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    padding: 0px 13px 0px 9px;
}

#custom-arrow {
    color: alpha(#ffffff, 0.3);
    padding: 0px 5px 0px 5px;
    margin-right: 0px;
}

#custom-power {
    color: #ffffff;
    background-color: #171926;
    border-radius: 5px;
    font-weight: bold;
    margin: 0px 5px 0px 0px;
    padding: 0px 10px 0px 10px;
}

#custom-notification {
    color: #ffffff;
    background-color: #171926;
    font-size: 13px;
    margin: 4px 0px 5px 0px;
    padding: 0px 4px 0px 4px;
}

#popuptray {
    margin: 4px 0px 4px 0px;
    border-radius: 5px 0px 0px 5px;
}

#tray {
    color: #ffffff;
    /*background-color: #171926;
    border-radius: 5px;*/
    padding: 0px 5px 0px 5px;
}

#language {
    color: #ffffff;
    padding: 0px 10px 0px 5px;
    border-radius: 5px;
    min-width: 16px;
    font-weight: bold;
}
